/******************************************
    Base Styles
******************************************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul li {
    list-style-type: none;
    display: inline-block;
}


/******************************************
    Light Box
******************************************/

#lightbox {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    text-align: center;
}

#lightbox img {
    width: 60%;
    height: 60%;
    margin-top: 10%
}